html, body {margin: 0; height: 100%; overflow: hidden}

.error404{
	color: #DB6B5E;
	font-family: AndaleMono;
  	font-size: 100px;
}

.text404{
	color: #000000;
	font-family: AndaleMono;
  	font-size: 35px;
}

.back404{
	color: #000000;
	font-family: AndaleMono;
  	font-size: 20px;
}

a{
	text-decoration: none;
	color: #DB6B5E;
}

a:hover,a:active{
	text-decoration: none;
	color: #000000;
	border: 1px solid;
}